include footer

    html
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
        script.
          firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                console.log(user.email);
                console.log(user.uid);
                console.log(user.displayName);
              } else {
                // No user is signed in.
                console.log(user);
              }
            });

      body
        h1 Welcome --- Implement User Registration and User Types
        #map
        script.
          function initMap() {
          //var uluru = {lat: -25.363, lng: 131.044};
          var center = {lat: 0, lng: 0};
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 0,
          center: center
          });
          var marker = new google.maps.Marker({
          position: center,
          map: map
          });
          console.log("map initialized");
          }
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDuupet_EdHPJzoXXOVVUW-ysZh2AJ1lhk&callback=initMap')
        
block content