extends footer
block content
    html
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        h1 Welcome --- Implement User Registration and User Types
        #map
        script.
          function initMap() {
          var uluru = {lat: -25.363, lng: 131.044};
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
          });
          var marker = new google.maps.Marker({
          position: uluru,
          map: map
          });
          }
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDuupet_EdHPJzoXXOVVUW-ysZh2AJ1lhk&callback=initMap')


        h3 Buttons Will Go Here