extends navbar

block scripts
    style.
        #map {
            height: 400px;
            width: 100%;
        }
    script.
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // User is signed in.
                console.log(user.email);
                console.log(user.uid);
                console.log(user.displayName);
            } else {
                // No user is signed in.
                console.log(user);
            }
        });


block content
    .container
        #map

    script.
        function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
            console.log("map initialized");
        }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDuupet_EdHPJzoXXOVVUW-ysZh2AJ1lhk&callback=initMap')