extends navbar

block scripts
    style.
        #map {
            height: 400px;
            width: 100%;
        }
    script.
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // User is signed in.
                console.log(user.email);
                console.log(user.uid);
                console.log(user.displayName);
            } else {
                // No user is signed in.
                console.log(user);
            }
        });


block content
    .container
        #map

    script.
        function initMap() {
            var gt = {lat: 33.775, lng: -84.396};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: gt,
            });

            var sReportData = firebase.database().ref('waterSourceReports');
            sReportData.on('value', function (snapshot) {
                snapshot.forEach(function (childSnapshot) {
                    var marker = new google.maps.Marker({
                        position: {
                            lat: childSnapshot.val()['location']['latitude'],
                            lng: childSnapshot.val()['location']['longitude']
                        },
                        map: map,
                        icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                        title: '#' + childSnapshot.val()['reportNumber'] + ' ' + childSnapshot.val()['reportName']
                    });
                });
            });
            var qReportData = firebase.database().ref('waterQualityReports');
            qReportData.on('value', function (snapshot) {
                snapshot.forEach(function (childSnapshot) {
                    var marker = new google.maps.Marker({
                        position: {
                            lat: childSnapshot.val()['location']['latitude'],
                            lng: childSnapshot.val()['location']['longitude']
                        },
                        map: map,
                        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                        title: '#' + childSnapshot.val()['reportNumber'] + ' ' + childSnapshot.val()['reportName']
                    });
                });
            });

            console.log("map initialized");
        }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDuupet_EdHPJzoXXOVVUW-ysZh2AJ1lhk&callback=initMap')