extends navbar
block scripts
        link(href="stylesheets/profile.css", type='text/css', rel='stylesheet', media='screen,projection')
        script.
            window.onload = function () {
                console.log(email);
                document.getElementById("name").value = name;
                document.getElementById("email").value = email;
            }


block content
            .Img(align='left')
              .overlay
            h6.white-text(align='left') Name
                input(text, id="name", value="")
            h6.white-text(align='left') Home Address
                input(text, value="Home Address Will Go Here")
            h6.white-text Email Address
                input(text, id="email", value="")
            h6.white-text Title
                input(text, value="User Title Will Go Here")
