extends navbar
block content
        form(type="get")
            h4.green-text(align='left') Name
                input(text, id="name", value="")
            h4.green-text(align='left') Home Address
                input(text, value="Home Address Will Go Here")
            h4.green-text(align='left') Email Address
                input(text, id="email", value="")
            h4.green-text(align='left') Title
                input(text, value="User Title Will Go Here")
            button.btn.waves-effect.waves-light(type='submit', name='action')
                | Update Profile
                i.material-icons.right send
            br
            br
block scripts
    //link(href="stylesheets/profile.css", type='text/css', rel='stylesheet', media='screen,projection')
    script.
        window.onload = function () {
            console.log(email);
            document.getElementById("name").value = name;
            document.getElementById("email").value = email;
            console.log(email);
        }


