extends navbar
block content
        form(type="get")
            h4.black-text(align='left') Name
                input(text, id="name", value="")
            h4.black-text(align='left') Home Address
                input#home(text, value="Home Address Will Go Here")
            h4.black-text(align='left') Email Address
                input(text, id="email", value="")
            h4.black-text(align='left') Title
                input#title(text, value="User Title Will Go Here")
            button.btn.waves-effect.waves-light(type='submit', name='action')
                | Update Profile
                i.material-icons.right send
            br
            br
block scripts
    //link(href="stylesheets/profile.css", type='text/css', rel='stylesheet', media='screen,projection')
    script.
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                document.getElementById("email").value = user.email;
                var userData = firebase.database().ref('users/' + user.uid);
                userData.on('value', function(snapshot) {
                    document.getElementById('title').setAttribute('value', snapshot.val().user_type);
                    document.getElementById('home').setAttribute('value', snapshot.val().address);
                });
            }
        });


