extends navbar

block scripts
    script.
        var sourceReports = [];
        var sReportData = firebase.database().ref('waterSourceReports');
        sReportData.on('value', function(snapshot) {
            sourceReports = [];
            snapshot.forEach(function(childSnapshot) {
              sourceReports.push(childSnapshot.val());
              // fill the data in collection
              var newReport = document.createElement('li');
              newReport.className = 'collection-item'

                var elt = document.createElement('p');
                elt.setAttribute('style', 'clear: both; float:right');
                var time = new Date(childSnapshot.val()['date']['time']);
                elt.innerHTML = 'Date: ' + time.toLocaleString();
                newReport.appendChild(elt);

                elt = document.createElement('p');
                elt.setAttribute('style', 'clear: both; float:right');
                elt.innerHTML = childSnapshot.val()['type'] + ', ' + childSnapshot.val()['condition'];
                newReport.appendChild(elt);

                elt = document.createElement('p');
                elt.innerHTML = '#' + childSnapshot.val()['reportNumber'] + ' ' + childSnapshot.val()['reportName'];
                newReport.appendChild(elt);

                elt = document.createElement('p');
                elt.innerHTML = childSnapshot.val()['reporter'];
                newReport.appendChild(elt);

                elt = document.createElement('p');
                elt.innerHTML = 'Lat/Lng: (' + Number(childSnapshot.val()['location']['latitude']).toFixed(3) + ', ' +
                    Number(childSnapshot.val()['location']['longitude']).toFixed(3) + ')';
                newReport.appendChild(elt);

                document.getElementById('reportList').appendChild(newReport);
            });
        });
        function addSourceReport(rName, lat, lng, type, cond) {
            var now = new Date();
            var rNumber = sourceReports[sourceReports.length-1]['reportNumber'] + 1;
            var reporter = name;
            var snippet = '#' + rNumber + ' ' + now.toLocaleString() + ' ' + type + '/' + cond;
            var jsonReport = {

                'condition': cond,
                'date':{
                    'date': now.getDate(),
                    'day': now.getDay(),
                    'hours': now.getHours(),
                    'minutes': now.getMinutes(),
                    'month': now.getMonth(),
                    'seconds': now.getSeconds(),
                    'time': now.getTime(),
                    'timezoneOffset': now.getTimezoneOffset(),
                    'year': now.getYear()
                },
                'location': {
                    'latitude': lat,
                    'longitude': lng,
                    'mapsLatLng': {
                        'latitude': lat,
                        'longitude': lng
                    }
                },
                'reportName': rName,
                'reporter': reporter,
                'snippet': snippet,
                'type': type
            }
            var newSourceReport = sReportData.push();
            newSourceReport.set(jsonReport);
        }

block content
    style.
        #map {
            height: 400px;
            width: 100%;
        }

    ul.collection(style="width:60%", id='reportList')
