extends navbar
block content
    html
      script.
        var sourceReports = firebase.database().ref('waterSourceReports');
        sourceReports.on('value', function(snapshot) {
            snapshot.forEach(function(childSnapshot) {
                console.log(childSnapshot.val());
                // fill the data in collections
            });
        });
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        //.row(STYLE="width:60%")
        //  .col.s12.m6
        //    .card.blue-grey.darken-1
        //      .card-content.white-text
        //        span.card-title Card Title
        //        p
        //          | Test
        ul.collection(style="width:60%")
          - var x = 50;
          - for (var i=1; i<=x; i++) {
            li.collection-item Alvin
            - }


        //h1 Water Source
        //
        //h3 INSERT CHART HERE