extends navbar
block content
    html
      script.
        var qualityReports = firebase.database().ref('waterQualityReports');
          qualityReports.on('value', function (snapshot) {
            snapshot.forEach(function (childSnapshot) {
              console.log(childSnapshot.val());
              // fill the data in collections
            });
          });
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        ul.collection(style="width:60%")
          - var x = 50;
          - for (var i=1; i<=x; i++) {
          li.collection-item
            p(style="clear: both; float:right" ) Date:
            p My Report
            p Lat/Lng:
            p Water condition, Virus, Contaminant :

          - }
