extends navbar
block content
    html
      script.
        var sourceReports = [];
        var sReportData = firebase.database().ref('waterSourceReports');
        sReportData.on('value', function(snapshot) {
            sourceReports = [];
            snapshot.forEach(function(childSnapshot) {
              console.log(childSnapshot.val());
              sourceReports.push(childSnapshot.val());
              // fill the data in collection
              var newReport = document.createElement('li');
              newReport.className = 'collection-item'

              var elt = document.createElement('p');
              elt.setAttribute('style', 'clear: both; float:right');
              elt.innerHTML = 'Date: [need to fill]'
              newReport.appendChild(elt);

              elt = document.createElement('p');
              elt.setAttribute('style', 'clear: both; float:right');
              elt.innerHTML = childSnapshot.val()['type'] + ', ' + childSnapshot.val()['condition'];
              newReport.appendChild(elt);

              elt = document.createElement('p');
              elt.innerHTML = '#' + childSnapshot.val()['reportNumber'] + ' ' + childSnapshot.val()['reportName'];
              newReport.appendChild(elt);

              elt = document.createElement('p');
              elt.innerHTML = childSnapshot.val()['reporter'];
              newReport.appendChild(elt);

              elt = document.createElement('p');
              elt.innerHTML = 'Lat/Lng: [need to fill]';
              newReport.appendChild(elt);

              document.getElementById('reportList').appendChild(newReport);
            });
        });
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        a.btn-floating.btn-large.waves-effect.waves-light.red(style="float:left")
          i.material-icons(style="float:left") add
        ul.collection(style="width:60%", id='reportList')
        .row
          .col.s12.m6
            .card.blue-grey.darken-1(style="width:600px")
              .card-content.white-text
                span.card-title Submit Water Source Report
                p
                  |
              //.card-action
              //  a(href='#') This is a link
              //  |
              //  a(href='#') This is a link
              .row
                form.col.s12
                  .row
                    .input-field.col.s12
                      input#text.validate(type='text')
                      |
                      label(for='text') Name
                  .row
                    a.btn-floating.btn-large.waves-effect.waves-light.red(style="float:right")
                      i.material-icons add
                    .input-field.col.s12
                      input#location.validate(type='text', disabled="")
                      |
                      label(for='location') Location
                  .row
                    .input-field.col.s12
                      label Water Type
                  .row
                    .input-field.col.s12
                      ul#dropdown2.dropdown-content
                        li
                          a(href='#!')
                            | one
                            span.badge 1
                        li
                          a(href='#!')
                            | two
                            span.new.badge 1
                        li
                          a(href='#!') three
                      |
                      a.btn.dropdown-button(href='#!', data-activates='dropdown2')
                        | Dropdown
                        i.mdi-navigation-arrow-drop-down.right
                  .row
                    .input-field.col.s12
                      select(multiple='')
                        optgroup(label='team 1')
                          option(value='1') Option 1
                          option(value='2') Option 2
                        optgroup(label='team 2')
                          option(value='3') Option 3
                          option(value='4') Option 4
                      |
                      label Optgroups









        //h1 Water Source
        //
        //h3 INSERT CHART HERE