extends navbar
block content
    html
      script.
          var qualityReports = [];
          var qReportData = firebase.database().ref('waterQualityReports');
          qReportData.on('value', function (snapshot) {
            qualityReports = [];
            snapshot.forEach(function (childSnapshot) {
              qualityReports.push(childSnapshot.val());
              // fill the data in collections
                var newReport = document.createElement('li');
                newReport.className = 'collection-item'

                var elt = document.createElement('p');
                elt.setAttribute('style', 'clear: both; float:right');
                var time = new Date(childSnapshot.val()['date']['time']);
                elt.innerHTML = 'Date: ' + time.toLocaleString();
                newReport.appendChild(elt);

                elt = document.createElement('p');
                elt.innerHTML = '#' + childSnapshot.val()['reportNumber'] + ' ' + childSnapshot.val()['reportName'];
                newReport.appendChild(elt);

                elt = document.createElement('p');
                elt.innerHTML = 'Lat/Lng: (' + Number(childSnapshot.val()['location']['latitude']).toFixed(3) + ', ' +
                    Number(childSnapshot.val()['location']['longitude']).toFixed(3) + ')';
                newReport.appendChild(elt);

                elt = document.createElement('p');
                elt.innerHTML = childSnapshot.val()['condition'] + ', ' + childSnapshot.val()['virusPPM'] + ', ' +
                    childSnapshot.val()['contaminantPPM'];
                newReport.appendChild(elt);

                document.getElementById('reportList').appendChild(newReport);
            });
          });
          function addQualityReport() {
              var rName = document.getElementById('WQNametext').value;
              var lat = document.getElementById('WQlocationLat').value;
              var lng = document.getElementById('WQlocationLong').value;
              var cond = {
                  1: 'Safe',
                  2: 'Treatable',
                  3: 'Unsafe'
              }[document.getElementById('WQWaterConditionSpinner').value];
              var virus = document.getElementById('VirusText').value;
              var contam = document.getElementById('Conttext').value;
              var now = new Date();
              var rNumber = qualityReports[qualityReports.length - 1]['reportNumber'] + 1;
              var snippet = '#' + rNumber + ' ' + now.toLocaleString() + ' ' + cond + '/' + virus + '/' + contam;
              console.log('rName = ' + rName);
              console.log('lat = ' + lat);
              console.log('lng = ' + lng);
              console.log('cond = ' + cond);
              console.log('virus = ' + virus);
              console.log('contam = ' + contam);
              console.log('now = ' + now);
              console.log('rNumber = ' + rNumber);
              console.log('snippet = ' + snippet);
              var jsonReport = {
                  'condition': cond,
                  'contaminantPPM': contam,
                  'date': {
                      'date': now.getDate(),
                      'day': now.getDay(),
                      'hours': now.getHours(),
                      'minutes': now.getMinutes(),
                      'month': now.getMonth(),
                      'seconds': now.getSeconds(),
                      'time': now.getTime(),
                      'timezoneOffset': now.getTimezoneOffset(),
                      'year': now.getYear()
                  },
                  'location': {
                      'latitude': lat,
                      'longitude': lng,
                      'mapsLatLng': {
                          'latitude': lat,
                          'longitude': lng
                      }
                  },
                  'reportName': rName,
                  'reportNumber': rNumber,
                  'snippet': snippet,
                  'virusPPM': virus
              }
              var newQualityReport = firebase.database().ref('waterQualityReports/' + rNumber);
              newQualityReport.set(jsonReport);
              console.log('quality report submitted');
          }
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        a.btn-floating.btn-large.waves-effect.waves-light.red(href = "#newQR", style="float:left")
          i.material-icons(style="float:left") add
        ul.collection(style="width:60%", id='reportList')
        .row
          .col.s12.m6
            #newQR.modal.light-blue.lighten-4
              .modal-content
                .card-content.black-text
                  .card-content.black-text
                    h5 Submit Water Quality Report
                  .row
                    form.col.s12
                      .row
                        .input-field.col.s12
                          input#WQNametext.validate(type='text')
                          |
                          label(for='WQNametext') Name
                      .row
                        .input-field.col.s12
                          input#WQlocationLat.validate(type='number')
                          |
                          label(for='WQlocationLat') Latitude
                      .row
                        .input-field.col.s12
                          input#WQlocationLong.validate(type='number')
                          |
                          label(for='WQlocationLong') Longitude
                      .row
                        .input-field.col.s12
                          select#WQWaterConditionSpinner
                            option(value='', disabled='', selected='') Choose your option
                            option(value='1') Safe
                            option(value='2') Treatable
                            option(value='3') Unsafe
                          |
                          label Water Condition
                      .row
                        .input-field.col.s12
                          input#VirusText.validate(type='number')
                          |
                          label(for='VirusText') Virus PPM
                      .row
                        .input-field.col.s12
                          input#Conttext.validate(type='number')
                          |
                          label(for='Conttext') Contaminant PPM

                      .row
                        .input-field.col.s12
                          #sumbitQReport.a.waves-effect.waves-light.btn(style="position: relative;left: 38%",
                          onclick='addQualityReport()') SUBMIT
        //.row
        //  .col.s12.m6
        //    #newQR.modal.light-blue.lighten-4
        //        .modal-content
        //          .card-content.black-text
        //            .card-content.black-text
        //              h5 Submit Water Quality Report
        //            .row
        //              form.col.s12
        //                .row
        //                  .input-field.col.s12
        //                    input#WQNametext.validate(type='text')
        //                    |
        //                    label(for='WQNametext') Name
        //                .row
        //                  a.btn-floating.btn-large.waves-effect.waves-light.red(style="float:right")
        //                    i.material-icons add
        //                  .input-field.col.s12
        //                    input#WQlocation.validate(type='text', disabled="")
        //                    |
        //                    label(for='WQlocation') Location
        //                .row
        //                  .input-field.col.s12
        //                    select#WQWaterConditionSpinner
        //                      option(value='', disabled='', selected='') Choose your option
        //                      option(value='1') Safe
        //                      option(value='2') Treatable
        //                      option(value='3') Unsafe
        //                    |
        //                    label Water Condition
        //                .row
        //                  .input-field.col.s12
        //                    input#VirusText.validate(type='number')
        //                    |
        //                    label(for='VirusText') Virus PPM
        //                .row
        //                  .input-field.col.s12
        //                    input#Conttext.validate(type='number')
        //                    |
        //                    label(for='Conttext') Contaminant PPM
        //
        //                .row
        //                  .input-field.col.s12
        //                    a.waves-effect.waves-light.btn(style="position: relative;left: 38%") SUBMIT

