extends navbar
block content
    html
      script.
        var qualityReports = firebase.database().ref('waterQualityReports');
          qualityReports.on('value', function (snapshot) {
            snapshot.forEach(function (childSnapshot) {
              console.log(childSnapshot.val());
              // fill the data in collections
            });
          });
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        h1 Water Quality 


        h3 INSERT CHART HERE
        