extends navbar
block content
    html
      script.
        var sourceReports = firebase.database().ref('waterSourceReports');
        sourceReports.on('value', function(snapshot) {
            snapshot.forEach(function(childSnapshot) {
                console.log(childSnapshot.val());
                // fill the data in collections
            });
        });
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body

        ul.collection(style="width:60%")
          - var x = 50;
          - for (var i=1; i<=x; i++) {
            li.collection-item
              p(style="clear: both; float:right" ) Date:
              p(style="clear: both; float:right") Water condition:
              p My Report
              p name
              p Lat/Lng:

            - }


        //h1 Water Source
        //
        //h3 INSERT CHART HERE