extends navbar
block content
    html
      script.
        var sourceReports = [];
        var sReportData = firebase.database().ref('waterSourceReports');
        sReportData.on('value', function(snapshot) {
            sourceReports = [];
            snapshot.forEach(function(childSnapshot) {
              console.log(childSnapshot.val());
              sourceReports.push(childSnapshot.val());
              // fill the data in collection
              var newReport = document.createElement('li');
              newReport.className = 'collection-item'
              newReport.innerHTML = childSnapshot.val()['reportNumber'] + ' ' + childSnapshot.val()['reportName'];
              document.getElementById('reportList').appendChild(newReport);
            });
        });
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        //.row(STYLE="width:60%")
        //  .col.s12.m6
        //    .card.blue-grey.darken-1
        //      .card-content.white-text
        //        span.card-title Card Title
        //        p
        //          | Test
        ul.collection(style="width:60%", id="reportList")
          - var x = 5;
          - for (var i=1; i<=x; i++) {
            li.collection-item Alvin
            - }


        //h1 Water Source
        //
        //h3 INSERT CHART HERE