extends navbar
block content
    html
      head
        style.
          #map {
          height: 400px;
          width: 100%;
          }
      body
        h1 Water Quality 


        h3 INSERT CHART HERE
        