js@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  font-family: "Roboto", sans-serif;
  /*text-transform: uppercase;*/
  outline: 0;
  background: #4CAF50;
  /*width: 100%;*/
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .button a {
    display: block;
    width: 100%;
    line-height: 100%;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


/*************************/
.form .dropdown {
    position: relative;
    display: inline-block;
}

.form .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.form .dropdown:hover .dropdown-content {
    display: block;
}

/*************************/


.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 16px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background:  #237fbc; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #237fbc, #237fbc);
  background: -moz-linear-gradient(right,  #237fbc, #237fbc);
  background: -o-linear-gradient(right,  #237fbc, #237fbc);
  background: linear-gradient(to left,  #237fbc, #237fbc);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.myButton { -moz-box-shadow:inset 0px 0px 15px 3px #23395e; -webkit-box-shadow:inset 0px 0px 15px 3px #23395e; box-shadow:inset 0px 0px 15px 3px #23395e; background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989)); background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%); background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%); background:-o-linear-gradient(top, #2e466e 5%, #415989 100%); background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%); background:linear-gradient(to bottom, #2e466e 5%, #415989 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0); background-color:#2e466e; -moz-border-radius:17px; -webkit-border-radius:17px; border-radius:17px; border:1px solid #1f2f47; display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:15px; padding:6px 13px; text-decoration:none; text-shadow:0px 1px 0px #263666; } .myButton:hover { background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e)); background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%); background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%); background:-o-linear-gradient(top, #415989 5%, #2e466e 100%); background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%); background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0); background-color:#415989; } .myButton:active { position:relative; top:1px; }
